h1 {
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
  color: #d4a063;
  font-size: 60px;
  text-align: center;
}

p, li {
  color: #60b0b6;
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #a6c4d6;
}

body {
  width: 1320px;
  margin: 0 auto;
  background-color: #e9e1d6;
  padding: 0 20px 20px 20px;
  border: 5px solid #d8cdcd;  
}

img {
  width: 1020px;
  display: block;
  margin: 75px auto;
}